@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Arima Madurai';
  background: #fbfbfb;
  background: -webkit-linear-gradient(to right, #cc95c0, #dbd4b4, #7aa1d2);
  background: linear-gradient(to bottom right, #cc95c0, #dbd4b4, #7aa1d2);
  background-repeat: no-repeat;
}

#mainNavBar {
  height: fit-content;
  padding: 0.38rem 9rem;
  box-shadow: 0rem 0rem 0.8rem 0.5rem #505050;
  /* background-color: #faf4de; */
}

.navbar-brand {
  font-size: 2rem; 
  font-family: B612 Mono;
  letter-spacing: 0.4rem;
  text-shadow: -0.2rem 0.2rem 0.35rem #ebac25b4;
  /* text-shadow: 0 0 5px #5cda22be; */
  font-weight: bold;
  margin: 0px 1rem 0px 0.5rem;
}

.navbar-nav {
  margin: 0rem 0rem 0rem 0rem;
  word-spacing: 0.1rem;
  justify-content: end;
}

a.nav-item.nav-link {
  font-size: 1.02rem;
  margin: 0rem 1.2rem;
}

.carousel-inner .carousel-item img {
  height: 48.5em;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  font-family: 'Bad Script';
  right: 15%;
  bottom: 1.6em;
  left: 15%;
  z-index: 10;
  padding-top: 1em;
  padding-bottom: 3em;
  font-weight: 200;
  color: #fff;
  font-size: 2em;
  text-align: center;
}

.carousel-caption .blockquote p {
  font-weight: 110;
  font-size: 1.35em;
  font-family: 'Bad Script';
}

.carousel-caption .blockquote .blockquote-footer {
  font-size: 1em;
  font-weight: bolder;
  padding: 1em 0em 2em 5em;
  font-style: italic;
  color: #9b9486;
}

.section-content-block {
  padding: 0 0 6em 0;
}

.section-content-block-btn {
  padding: 0 0 3em 0;
}

.section-heading-wrapper {
  margin: 0px 3px 5px;
}

.section-heading-wrapper h2 {
  text-align: center;
  position: relative;
  font-size: 37px;
  line-height: 42px;
  margin-bottom: 20px;
  font-family: 'Arima Madurai';
  letter-spacing: 0em;
  font-weight: 700;
  color: #000000;
  text-shadow: -0.03rem 0.02rem 0.35rem #644c4ce1;
}

.section-heading-wrapper h2:after {
  /* background-image: url('../images/separator.png'); */
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
  height: 24px;
  left: 50%;
  margin-left: -75px;
  position: absolute;
  top: 55px;
  width: 150px;
}

.section-heading-wrapper p, .section-heading-wrapper h4 {
  text-align: center;
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: #484848;
  margin-bottom: 24px;
  padding: 30px 0 0 0px;
  word-spacing: 0em;
}

.section-heading-wrapper span.heading-separator {
  display: inline-block;
  width: 2px;
  height: 32px;
  background: #EF3D32;
  margin-top: 12px;
}

.section-heading-wrapper span.heading-separator-horizontal {
  width: 72px;
  height: 2px;
  margin-top: 0px;
  position: relative;
  top: -3px;
}

.section-heading-wrapper .no-img-separator {
  clear: both;
}

.section-heading-wrapper .no-img-separator h2 {
  margin-bottom: 0px;
}

.section-heading-wrapper .no-img-separator h2:after {
  display: none;
}

.section-heading-wrapper .no-img-separator h4 {
  padding: 0px;
  margin: 0;
}

.section-heading-wrapper .text-left h2 {
  text-align: left;
  clear: both;
}

.section-heading-wrapper .text-left h2:after {
  left: 0;
  margin-left: 0px;
}

.section-heading-wrapper .text-left p, .section-heading-wrapper .text-left h4 {
  text-align: left;
}

.section-heading-wrapper .text-right h2 {
  text-align: right;
  clear: both;
}

.section-heading-wrapper .text-right h2:after {
  left: initial;
  right: 0;
  margin-left: 0;
  margin-right: 0;
}

.section-heading-wrapper .text-right p, .section-heading-wrapper .text-right h4 {
  text-align: right;
}

.section-heading-wrapper h2+h4 {
  margin-top: 16px !important;
}

.section-heading-wrapper h4+h2 {
  margin-top: 16px !important;
}

.section-heading-wrapper-alt {
  margin-bottom: 32px;
}

.section-heading-wrapper-alt h2 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 48px;
  position: relative;
  color: #FFFFFF;
}

.section-heading-wrapper-alt p, .section-heading-wrapper-alt h4 {
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 0px;
  color: #FFFFFF;
}

.section-heading-wrapper-alt span.heading-separator {
  display: inline-block;
  width: 2px;
  height: 16px;
  background: #EF3D32;
  margin-top: 8px;
}

.section-heading-wrapper-alt span.heading-separator-horizontal {
  background: #EF3D32;
  width: 72px;
  height: 2px;
  margin-top: 0px;
  position: relative;
  top: -4px;
}

.section-heading-wrapper-alt h2+h4 {
  margin-top: 16px !important;
}

.section-heading-wrapper-alt h4+h2 {
  margin-top: 16px !important;
}

.section-custom-bg-extra-padding {
  padding: 200px 0;
}

.section-pure-white-bg {
  background: #FFFFFF !important;
}

.section-pure-black-bg {
  background: #000000 !important;
}

.section-secondary-bg {
  background: #F9FAFB !important;
}

.about-us-container {
  background: #F9FAFB;
  position: relative;
  width: 632px;
  z-index: 2;
  padding: 37px 30px 30px;
  margin-top: 42px;
}

.about-details {
  clear: both;
}

.about-img {
  /* position: relative; */
  overflow: hidden;
}

.about-img img {
  vertical-align: middle;
  object-fit: cover;
}

.theme-custom-box-shadow:hover {
  border: 0px solid transparent;
  box-shadow: 10px 12px 20px rgba(90, 88, 88, 0.479);
}

#videos ,#edits{
  /* padding: 20px 0px; */
  padding-bottom: 25px;
  padding-top: 25px;
  /* border: 2px solid black; */
}

#more {
  display: none;
}

.container .button_container {
  margin: 0rem 5rem;
}

abbr[title] {
  cursor: pointer !important;
}

/*------------------------------ footer------------------------- */

footer {
  box-sizing: border-box;
  /* width: 100%; */
  text-align: center;
  /* font: bold 16px; */
  padding: 2em 3em 2em 3em;
  margin-top: 0px;
}

#bgfooter {
  background-color: #000000;
}

.footer-distributed .footer-center {
  display: inline-block;
  vertical-align: top;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 100%;
  word-spacing: 0.2em;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 2em;
  width: 38px;
  /* height: 1em; */
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  margin: 0.23em;
  vertical-align: middle;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #aacce4;
  vertical-align: middle;
  font-size: 1.1em;
  margin: 0;
}

.footer-distributed .footer-center p a {
  color: #aacce4;
  text-decoration: none;
}

/* Footer Right */

#instagram {
  background: white;
  color: black;
}

.section-heading-wrapper #contactme h2 strong {
  color: white;
}

#copyright {
  /* margin-top: 1.5em; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.83em;
  color: white;
}

/* Here is the code for Responsive Footer */

@media (max-width: 1300px) {
  #mainNavBar {
    padding: 0.38rem 6rem;
  }
}

@media (max-width: 1200px) {
  .about-us-container {
    width: 540px;
    padding: 28px 20px 20px;
  }
  .about-us-container p {
    margin-bottom: 0 !important;
    font-size: 15px;
  }
  .about-us-container .section-heading-wrapper h2 {
    font-size: 33px;
  }
}

@media (max-width: 1100px) {
  #mainNavBar {
    padding: 0.38rem 4rem;
  }
  .carousel-caption, .carousel-caption .blockquote p {
    font-size: 1.6rem;
  }
}

@media (max-width: 1000px) {
  div #videos div iframe , div #videos div .iframe {
    width: 350px !important;
    height: 260px !important;
  }
  div #videos div {
    margin: 0rem 0.1rem;
  }
  /* .about-img img{
    width: 480px;
    height: 320px;
  } */
  .about-us-container{
    margin-top: 0rem;
  }
}

@media (max-width: 993px) {
  div #videos div iframe, div #videos div .iframe  {
    width: 320px !important;
    height: 235px !important;
  }
  div #edits div iframe , div #edits div .iframe{
    width: 320px !important;
    height: 235px !important;
  }
  /* .about-img img{
    width: 460px;
    height: 380px;
  } */
}

@media (max-width: 990px) {
  .about-us-container {
    width: auto;
    justify-content: center;
    margin-bottom: 2rem;
    /* margin-left: 3rem;
    margin-right: 3rem; 
    padding: 28px 30px 20px; */
  } 
} 

@media (max-width: 900px) {
  #mainNavBar {
    padding: 0.38rem 2rem 0.38rem 3rem;
  }
  a.nav-item.nav-link {
    font-size: 0.9rem;
    margin: 0rem 0.95rem;
  }
  .navbar-brand {
    font-size: 1.8rem;
  }
  .carousel-caption, .carousel-caption .blockquote p {
    font-size: 1.4rem;
  }
}

@media (max-width: 770px) {
  .carousel-caption {
    display: block !important;
  }
  .carousel-inner .carousel-item img {
    height: 40em;
  }
  #expandme .navbar-nav a {
    margin-top: 1rem;
  }
  #mainNavBar {
    padding-left: 2rem;
  }
  div #videos div iframe, div #videos div .iframe  {
    width: 350px !important;
    height: 260px !important;
  }
  #my-work h2, #my-work{
    text-align: center !important;
  }
}

@media (max-width: 670px) {
  .footer-center #copyright {
    font-size: 0.78em;
  }
}

@media (max-width: 600px) {
  .section-heading-wrapper .no-img-separator #my-work {
    clear: both;
    padding-right: 3rem;
  }
  div #videos div iframe, div #videos div .iframe  {
    width: 250px !important;
    height: 195px !important;
  }
  div #edits div iframe , div #edits div .iframe{
    width: 250px !important;
    height: 195px !important;
  }
  .section-heading-wrapper strong{
    font-size: 22px !important;
  }
  .navbar-brand {
    font-size: 1.5rem;
  }
  #mainNavBar div img{
    width: 35px;
    height: 35px;
  }
  #bgfooter .footer-center div p{
    font-size: 13px;
  }
  .about-us-container p {
    /* margin-bottom: 0 !important; */
    font-size: 12px;
  }
  .about-img img{
    width: 360px !important;
    height: 370px !important;
  }
}

@media (max-width:400px) {
  .about-img img{
    width: 220px !important;
    height: 250px !important;
  }
  .navbar-toggler{
    padding: 0px !important;
  }
}

@media (max-width:310px) {
  .navbar-toggler{
    padding: 0px !important;
  }
  .navbar-brand {
    font-size: 1rem;
  }
  .section-heading-wrapper strong{
    font-size: 18px !important;
  }
  #bgfooter .footer-center div p{
    font-size: 12px;
  }
  footer{
    padding: 0.1em 0em 1em 0em !important;
  }
  .footer-distributed .footer-center i{
    margin: 0.01rem;
    /* height: 0.01rem !important;
    width: 0.01rem !important; */
  }
}