@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Arima Madurai';
  background: #cc95c0;
  background: -webkit-linear-gradient(to right, #cc95c0, #dbd4b4, #7aa1d2);
  background: linear-gradient(to bottom right, #cc95c0, #dbd4b4, #7aa1d2);
}

#mainNavBar {
  height: fit-content;
  padding: 0.38em 2em;
  box-shadow: 0em 0em 0.8em 0.5em #505050;
  /* background-color: #faf4de; */
}

.navbar-brand {
  font-size: 2em;
  font-family: B612 Mono;
  letter-spacing: 0.4rem;
  text-shadow: -0.2rem 0.2rem 0.35rem #ebac25b4;
  /* text-shadow: 0 0 5px #5cda22be; */
  font-weight: bold;
  margin: 0px 8em 0px 0.5em;
}

.navbar-nav {
  margin: 0em 0em 0em 8em;
  word-spacing: 0.1em;
}

.nav-item {
  font-size: 1.02em;
  margin: 0em 0.7em;
  /* padding: 0em; */
}

.carousel-inner .carousel-item img {
  height: 45em;
}

.carousel-caption {
  position: absolute;
  font-family: 'Bad Script';
  right: 15%;
  bottom: 1.6em;
  left: 15%;
  z-index: 10;
  padding-top: 1em;
  padding-bottom: 3em;
  font-weight: 200;
  color: #fff;
  font-size: 2em;
  text-align: center;
}

.carousel-caption .blockquote p {
  font-weight: 110;
  font-size: 1.35em;
  font-family: 'Bad Script';
}

.carousel-caption .blockquote .blockquote-footer {
  font-size: 1em;
  font-weight: bolder;
  padding: 1em 0em 2em 5em;
  font-style: italic;
  color: #9b9486;
}

.section-content-block {
  padding: 0 0 6em 0;
  /* background: rgba(243, 208, 161, 0.377);
    background-image: linear-gradient(to bottom right, rgb(188, 246, 183), rgba(162, 186, 197, 0.726)); */
}

.section-content-block-btn {
  padding: 0 0 3em 0;
}

.section-heading-wrapper {
  margin-bottom: 32px;
}

.section-heading-wrapper h2 {
  text-align: center;
  position: relative;
  font-size: 37px;
  line-height: 42px;
  margin-bottom: 20px;
  font-family: 'Arima Madurai';
  letter-spacing: 0em;
  font-weight: 700;
  color: #555555;
}

.section-heading-wrapper h2:after {
  /* background-image: url('../images/separator.png'); */
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
  height: 24px;
  left: 50%;
  margin-left: -75px;
  position: absolute;
  top: 55px;
  width: 150px;
}

.section-heading-wrapper p, .section-heading-wrapper h4 {
  text-align: center;
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: #484848;
  margin-bottom: 24px;
  padding: 30px 0 0 0px;
  word-spacing: 0em;
}

.section-heading-wrapper span.heading-separator {
  display: inline-block;
  width: 2px;
  height: 32px;
  background: #EF3D32;
  margin-top: 12px;
}

.section-heading-wrapper span.heading-separator-horizontal {
  width: 72px;
  height: 2px;
  margin-top: 0px;
  position: relative;
  top: -3px;
}

.section-heading-wrapper .no-img-separator {
  clear: both;
}

.section-heading-wrapper .no-img-separator h2 {
  margin-bottom: 0px;
}

.section-heading-wrapper .no-img-separator h2:after {
  display: none;
}

.section-heading-wrapper .no-img-separator h4 {
  padding: 0px;
  margin: 0;
}

.section-heading-wrapper .text-left h2 {
  text-align: left;
  clear: both;
}

.section-heading-wrapper .text-left h2:after {
  left: 0;
  margin-left: 0px;
}

.section-heading-wrapper .text-left p, .section-heading-wrapper .text-left h4 {
  text-align: left;
}

.section-heading-wrapper .text-right h2 {
  text-align: right;
  clear: both;
}

.section-heading-wrapper .text-right h2:after {
  left: initial;
  right: 0;
  margin-left: 0;
  margin-right: 0;
}

.section-heading-wrapper .text-right p, .section-heading-wrapper .text-right h4 {
  text-align: right;
}

.section-heading-wrapper h2+h4 {
  margin-top: 16px !important;
}

.section-heading-wrapper h4+h2 {
  margin-top: 16px !important;
}

.section-heading-wrapper-alt {
  margin-bottom: 32px;
}

.section-heading-wrapper-alt h2 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 48px;
  position: relative;
  color: #FFFFFF;
}

.section-heading-wrapper-alt p, .section-heading-wrapper-alt h4 {
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 0px;
  color: #FFFFFF;
}

.section-heading-wrapper-alt span.heading-separator {
  display: inline-block;
  width: 2px;
  height: 16px;
  background: #EF3D32;
  margin-top: 8px;
}

.section-heading-wrapper-alt span.heading-separator-horizontal {
  background: #EF3D32;
  width: 72px;
  height: 2px;
  margin-top: 0px;
  position: relative;
  top: -4px;
}

.section-heading-wrapper-alt h2+h4 {
  margin-top: 16px !important;
}

.section-heading-wrapper-alt h4+h2 {
  margin-top: 16px !important;
}

.section-custom-bg-extra-padding {
  padding: 200px 0;
}

.section-pure-white-bg {
  background: #FFFFFF !important;
}

.section-pure-black-bg {
  background: #000000 !important;
}

.section-secondary-bg {
  background: #F9FAFB !important;
}

.about-us-container {
  background: #F9FAFB;
  position: relative;
  width: 632px;
  z-index: 2;
  padding: 42px 36px 32px;
  margin-top: 42px;
}

.about-details {
  clear: both;
}

.about-details .about-heading {
  position: relative;
  font-size: 32px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: #555555;
}

.about-img {
  position: relative;
  overflow: hidden;
}

.about-img img {
  vertical-align: middle;
}

.about-img:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 3000px;
  background: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.about-img a {
  background: rgba(0, 0, 0, 0.5);
  border: 5px solid #e6e6e6;
  border-radius: 100%;
  color: #EF3D32;
  font-size: 40px;
  height: 100px;
  left: 50%;
  line-height: 70px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100px;
  margin-left: -50px;
  margin-top: -50px;
}

.about-img a>i {
  margin-left: 8px;
}

.about-img a:hover {
  background: rgba(0, 0, 0, 0.8);
  border: 5px solid #EF3D32;
  color: #e6e6e6;
}

.theme-custom-box-shadow {
  border: 0px solid transparent;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.07);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.theme-custom-box-shadow:hover {
  border: 0px solid transparent;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
}

#videos {
  /* padding: 20px 0px; */
  padding-bottom: 50px;
  /* border: 2px solid black; */
}

#more {
  display: none;
}

/* .button_container {
	position: absolute;
  left: 0;
  right: 0;
  top: 30%;
}

#mybtn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

#mybtn span {
  position: relative; 
  z-index: 1;
}

#mybtn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #78c7d2;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

#mybtn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
} */

/* .container-fluid #videos #shadow-frame:hover{
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
  } */

/*#videos iframe{
    display: block;
  }*/

/* #videos:hover{
    border: 0px solid transparent;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
  }  */

/* iframe :hover{
    margin-top: 20px;
    margin-bottom: 30px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 4px 4px 14px #000;
    -webkit-box-shadow: 4px 4px 14px #000;
    box-shadow: 4px 4px 14px #000;
    }  */

/*------------------------------ footer------------------------- */

footer {
  /* position: fixed; */
  bottom: 0;
}

/* @media (max-height: 800px) {
  footer {
    position: static;
  }
} */

footer {
  box-sizing: border-box;
  /* width: 100%; */
  text-align: center;
  /* font: bold 16px; */
  padding: 1.5em 3em 1.5em 3em;
  margin-top: 0px;
}

#bgfooter {
  background-color: #000000;
}

.footer-distributed .footer-center {
  display: inline-block;
  vertical-align: top;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
  word-spacing: 0.2em;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 2em;
  width: 38px;
  /* height: 1em; */
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 0.25em;
  vertical-align: middle;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #aacce4;
  vertical-align: middle;
  font-size: 1.1em;
  margin: 0;
}

.footer-distributed .footer-center p a {
  color: #aacce4;
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #f60202;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

#instagram {
  background: white;
  color: black;
}

.section-heading-wrapper #contactme h2 strong {
  color: white;
}

#copyright {
  padding-top: 1.15em;
  font-size: 0.8em;
  color: white;
}

/* Here is the code for Responsive Footer */

/* You can remove below code if you don't want Footer to be responsive */

/* @media (max-width: 880px) {
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  
    .footer-distributed .footer-center i {
      margin-left: 0;
    }
  } */